<?xml version="1.0"?>
<deployment>
  <cluster hostcount="1" sitesperhost="8" kfactor="0" />
  <commandlog enabled="false" />
  <export enabled="true" target="jdbc">
    <configuration>
      <property name="jdbcurl">jdbc:vertica://$VERTICAIP:5433/test</property>
      <property name="jdbcuser">dbadmin</property>
      <property name="ignoregenerations">true</property>
    </configuration>
  </export>
  <httpd enabled="true">
    <jsonapi enabled="true" />
  </httpd>
</deployment>
